.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f1f23;
    padding: 12px 24px;
    border-bottom: 1px solid #333;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .logo-img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .header .logo {
    color: #F3EF52;
    font-weight: bold;
    font-size: 20px;
  }

  .header .nav {
    display: flex;
    gap: 32px;
  }

  .header .nav a {
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s ease, color 0.2s ease;
    border: 1px solid transparent;
  }

  body.dark .header .nav a:hover {
    background-color: rgba(243, 239, 82, 0.12); /* менш насичений */
    border-color: rgba(243, 239, 82, 0.25);     /* легкий бордер */
    color: #F3EF52; 
  }
  
  /* Світла тема */
  body.light .header .nav a:hover {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.1);
    color: #000; 
  }

  .header .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .theme-toggle {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #F3EF52;
    padding: 4px;
  }

  .connect-wallet {
    background-color: #F3EF52;
    color: #27292F;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .connect-wallet:hover {
    background-color: #e0dc48;
  }


  .wallet-adapter-button {
    background-color: #F3EF52 !important;
    color: #27292F !important;
    /* font-weight: bold !important; */
    border: none !important;
    border-radius: 8px !important;
    /* padding: 8px 16px !important; */
    cursor: pointer !important;
    transition: background-color 0.2s ease !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
  }
  

  .wallet-adapter-button:hover {
    background-color: #e0dc48   !important;
  }


